@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorite{
  padding-top: 50px;
  padding-bottom: 110px;

  .container{
    @include head-lora-36;
    color: $green-text-color;
    margin-bottom: 35px;

    .favorite-empty{
      margin-top: 20px;
      margin-bottom: 100px;

      div{
        font-size: 16px;
      }
      button{
        width: 255px;
        margin-top: 10px;
      }
    }

    .favorite-products{
      .favorite-product{
        padding-top: 15px;
        margin-top: 15px;
        border: 1px solid #E7F1E8;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child{
          padding-top: 0;
          margin-top: 0;
          border: 0;
        }

        .favorite-product-image{
          background-size: cover;
          background-position: center;
          height: 100px;
          width: 100px;
          border-radius: 5px;
        }

        .favorite-product-name{
          margin-left: 24px;
          font-size: 20px;
          color: $gray-text-color;
          width: 567px;
          margin-right: 20px;
        }

        .favorite-product-price{
          width: 100px;
          margin-right: 193px;
          font-family: Montserrat, sans-serif;
          font-size: 22px;
          font-weight: 600;
          color: $gray-text-color;

          &.isInCart{
            margin-right: 76px;
          }
        }

        .favorite-product-action button{
            width: 160px;

          &.button-in-cart{
            margin-left: 20px;
          }
        }

        .favorite-product-remove{
          margin-left: 61px;
          cursor: pointer;
        }
      }
    }
  }
}
